<h2>Payment Terms List</h2>
<%= link_to "Add Payment Term", new_payment_term_path %><br/>

<% if @payment_terms.present? %>
<table>
  <tr>
    <th>Payment Term Name</th>
    <th>Date or Net Days</th>
    <th>Payment Option</th>
    <th>Trade Credit Percentage</th>
    <th>Trade Credit Days</th>

    <th>Active?</th>
  </tr>

  <% @payment_terms.each do |payment_term| %>
    <tr>
      <td><%= payment_term.name %></td>
      <td><%= payment_term.net_days %></td>
      <td><%= payment_term.payment_option.name %></td>
      <td><%= payment_term.trade_credit_percent.to_f %></td>
      <td><%= payment_term.trade_credit_days %></td>
      <td><%= check_box "payment_term", "active", { checked: payment_term.active, disabled: true } %></td>
      <td><%= link_to "edit", edit_payment_term_path(payment_term) %></td>
      <td>
        <% if payment_term.active? %>
          <%= button_to "deactivate", { action: "change_status" }, method: "patch", params: { id: payment_term.id } %>
        <% else %>
          <%= button_to "activate", { action: "change_status" }, method: "patch", params: { id: payment_term.id } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>There are no payment terms available</p>
<% end %>