
<table>

  <tr>

    <th>Warehouse Name</th>
    <th>SKU</th>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Total Inventory Value</th>

  </tr>

  <% @inventories.each do |inventory| %>
    <tr>
      <td><%= inventory.warehouse.name %></td>
      <td><%= inventory.product.sku %></td>
      <td><%= inventory.product.name %></td>
      <td><%= inventory.quantity %></td>
      <td><%= number_to_currency(inventory.total_value) %></td>
    </tr>
  <% end %>


</table>