<h3>System Users</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Job Title</th>
    <th>Active?</th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.user.first_name %> <%= employee.user.last_name %></td>
    <td><%= employee.user.email %></td>
    <th><%= employee.job_title %></th>
    <td><%= check_box "employee", "active", { checked: employee.active, disabled: true } %></td>
    <td><%= link_to "edit", edit_employee_path(employee) %></td>
  </tr>
<% end %>

</table>