<% if @purchase_order.errors.any? %>
  <% @purchase_order.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for @purchase_order do |f| %>

  <%= f.label :company_address_id, "Purchase Order From: " %>
  <%= f.collection_select :company_address_id, current_company.company_addresses.all, :id, :company_name %><br/>

  <%= f.label :account_id, "Purchase Order To: " %>
  <%= f.collection_select :account_id, current_company.suppliers.all, :id, :name %><br/>

  <%= f.label :account_address_id, "Supplier Address: " %>
  <%= f.collection_select :account_address_id, supplier_addresses_list, :id, :name_with_account %><br/>

  <%= f.label :warehouse_id, "Ship To Warehouse: " %>
  <%= f.collection_select :warehouse_id, current_company.warehouses.all, :id, :name %><br/>

  <%= f.label :order_ref_number %>
  <%= f.text_field :order_ref_number %><br/>

  <%= f.label :comment %>
  <%= f.text_area :comment %><br/>

  <%= f.submit %>

<% end %>
