<% if params.include?(:customer_id) %>
  <h3><%= link_to @account.name, customer_path(@account) %> - Address</h3>
  <h4><%= link_to "Edit", edit_customer_account_address_path(@account, @account_address) %> || <%= link_to "Delete", customer_account_address_path(@account, @account_address), method: :delete %> </h4>
<% end %>

<% if params.include?(:supplier_id) %>
  <h3><%= link_to @account.name, supplier_path(@account) %> - Address</h3>
  <h4><%= link_to "Edit", edit_supplier_account_address_path(@account, @account_address) %> || <%= link_to "Delete", supplier_account_address_path(@account, @account_address), method: :delete %> </h4>
<% end %>


<p>Company Name: <%= @account_address.company_name %></p>
<p>Attention: <%= @account_address.attention %></p>
<p>Address Line 1: <%= @account_address.address_line_1 %></p>
<p>Address Line 2: <%= @account_address.address_line_2 %></p>
<p>City: <%= @account_address.city %></p>
<p>Province/State: <%= @account_address.state %></p>
<p>Country: <%= @account_address.country.name %></p>
<p>Postal Code: <%= @account_address.postal_code %></p>
<p>Email : <%= @account_address.email %></p>
<p>Phone : <%= @account_address.phone %></p>
<p>Fax : <%= @account_address.fax %></p>
<p>Comment : <%= @account_address.comment %></p>
<p>Active?: <%= check_box "account_address", "active", { checked: @account_address.active, disabled: true } %></p>
