<% if @country.errors.any? %>
  <% @country.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>


<%= form_for @country do |f| %>

  <%= f.label :name, "Country Name: "%>
  <%= f.text_field :name %><br/>

  <%= f.label :alpha_2_code, "ISO Alpha 2 Code: " %>
  <%= f.text_field :alpha_2_code %><br/>

  <%= f.label :alpha_3_code, "ISO Alpha 3 Code: " %>
  <%= f.text_field :alpha_3_code %><br/>

  <%= f.label :numeric_code, "ISO Numeric Code: " %>
  <%= f.text_field :numeric_code %><br/>

  <%= f.label :active, "Active?" %>
  <%= f.hidden_field :active, value: 0 %>
  <%= f.check_box :active %><br/>

  <%= f.submit %>

<% end %>