<h2>Country List</h2>
<%= link_to "Add Country", new_country_path %><br/>

<% if @countries.present? %>
<table>
  <tr>
    <th>Country Name</th>
    <th>ISO Alpha 2 Code</th>
    <th>ISO Alpha 3 Code</th>
    <th>ISO Numeric Code</th>
    <th>Active?</th>
  </tr>

  <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= country.alpha_2_code %></td>
      <td><%= country.alpha_3_code %></td>
      <td><%= country.numeric_code %></td>
      <td><%= check_box "country", "active", { checked: country.active, disabled: true } %></td>
      <td><%= link_to "edit", edit_country_path(country) %></td>
      <td>
        <% if country.active? %>
          <%= button_to "deactivate", { action: "change_status" }, method: "patch", params: { id: country.id } %>
        <% else %>
          <%= button_to "activate", { action: "change_status" }, method: "patch", params: { id: country.id } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>There are no countries available</p>
<% end %>