<% if @sales_order.errors.any? %>
  <% @sales_order.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<%= form_for @sales_order do |f| %>

  <%= f.label :company_address_id, "Sales Order To: " %>
  <%= f.collection_select :company_address_id, current_company.company_addresses.all, :id, :company_name %><br/>

  <%= f.label :account_id, "Sales Order From: " %>
  <%= f.collection_select :account_id, current_company.customers.all, :id, :name %><br/>

  <%= f.label :account_address_id, "Customer Address: " %>
  <%= f.collection_select :account_address_id, customer_addresses_list, :id, :name_with_account %><br/>

  <%= f.label :warehouse_id, "Ship From Warehouse: " %>
  <%= f.collection_select :warehouse_id, current_company.warehouses.all, :id, :name %><br/>

  <%= f.label :order_ref_number %>
  <%= f.text_field :order_ref_number %><br/>

  <%= f.label :comment %>
  <%= f.text_area :comment %><br/>

  <% if current_page?(action: :new) %>
    <%= f.hidden_field :order_status_id, value: 1 %>
  <% end %>

  <h4>Order Lines</h4>
    <table>
      <tr>
        <th>Product</th>
        <th>Product Comment</th>
        <th>Unit Price</th>
        <th>Quantity</th>
      </tr>
    
      <%= f.fields_for :transaction_lines, @sales_order.transaction_lines.build do |trans_line| %>
          
          <tr>
            <td><%= trans_line.collection_select :product_id, current_company.products.all, :id, :name, prompt: true %></td>
            <td><%= trans_line.text_field :comment %></td>
            <td><%= trans_line.number_field :unit_price %></td>
            <td><%= trans_line.number_field :quantity %></td>
          </tr>
        
      <% end %>
      <%= f.fields_for :transaction_lines, @sales_order.transaction_lines.build do |trans_line| %>

          <tr>
            <td><%= trans_line.collection_select :product_id, current_company.products.all, :id, :name, prompt: true %></td>
            <td><%= trans_line.text_field :comment %></td>
            <td><%= trans_line.number_field :unit_price %></td>
            <td><%= trans_line.number_field :quantity %></td>
          </tr>
        
      <% end %>

      <%= f.fields_for :transaction_lines, @transaction_lines do |trans_line| %>

          <tr>
            <td><%= trans_line.collection_select :product_id, current_company.products.all, :id, :name, prompt: true %></td>
            <td><%= trans_line.text_field :comment %></td>
            <td><%= trans_line.number_field :unit_price %></td>
            <td><%= trans_line.number_field :quantity %></td>
          </tr>
        
      <% end %>

    </table>

  <%= f.submit %>

<% end %>
