<header>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to "dashboard", dashboard_path %></li>
      <li><%= link_to "demand", demand_path %></li>
      <li><%= link_to "supply", supply_path %></li>
      <li><%= link_to "product", product_path %></li>
      <li><%= link_to "warehouse", warehouse_path %></li>
      <li><%= link_to "logistics", logistics_path %></li>
      <li><%= link_to "setup", setup_path %></li>
      <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "sign in", new_user_session_path %></li>
      <li><%= link_to "sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</header>

